services:
  # A Docker web service
  - type: web
    name: kb
    env: docker
#    repo: https://github.com/render-examples/webdis.git # optional
    region: singapore # optional (defaults to oregon)
    plan: starter # optional (defaults to starter)
    branch: main # optional (defaults to master)
    dockerCommand: ./start.sh # optional (defaults to Dockerfile command)
    numInstances: 1 # optional (defaults to 1)
    healthCheckPath: /
    envVars:
      - key: REDIS_HOST
        sync: false 
     
