:$PORT
root * /usr/share/caddy
file_server
header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

@websocket_gg {
header Connection *Upgrade*
header Upgrade    websocket
path /$MYPATH
}
reverse_proxy @websocket_gg 127.0.0.1:81
handle_path /my/$MYPATH/ag/* {
        uri strip_prefix /my/$MYPATH/ag/
        reverse_proxy 127.0.0.1:30000
}
basicauth /my/$MYPATH/* {
    $MYPATH $PASS-HASH
}
